body {
  background: rgb(38, 18, 81);
}

a {
  text-decoration: none;
  color: rgb(221, 0, 113);
}

.generator {
  width: 50vw;
  margin: auto;
  text-align: center;
}

.generator img {
  width: 25vw;
}

.textBox {
  position: absolute;
  width: 17.5vw;
  margin-top: -25.5vw;
  margin-left: 16vw;
  font-family: arial;
  font-size: 1.1vw;
  font-weight: 600;
}

button {
  background: rgb(255, 245, 54);
  padding: 2%;
  font-weight: 600;
  font-size: 1vw;
  text-transform: uppercase;
  color: rgb(221, 0, 113);
  border: none;
  outline: none;
  border-radius: .5em;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .generator {
    width: 90%;
  }
  .generator img {
    width: 100%;
  }

  .textBox {
    width: 45%;
    margin-top: -90vw;
    margin-left: 21vw;
    font-size: 3vw;
  }

  button {
    width: 25%;
    font-size: 3vw;
  }
}
